#!/usr/bin/make -f
export DH_VERBOSE=1

# Cross Building
export ARCH=armhf
export CROSS_COMPILE=arm-linux-gnueabihf-
include /usr/share/dpkg/architecture.mk
COMMON_FLAGS += MARCH=arm

# Configuration
SOURCE_DIR=`pwd`
BUILD_DIR=$(SOURCE_DIR)/debian/build

# support parallel build using DEB_BUILD_OPTIONS=parallel=N
ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
  MAKEFLAGS += -j$(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
endif

# the upstream build passes LDFLAGS directly to ld instead of calling gcc for
# linking; so instead of passing -Wl,foo in LDFLAGS as in automake builds, one
# should set LDFLAGS to foo directly
LDFLAGS := $(patsubst -Wl,%,%,$(LDFLAGS))

# main packaging script based on dh7 syntax
%:
	dh $@ --parallel --package u-boot-novena

override_dh_auto_build-arch:
	mkdir -p $(BUILD_DIR)
	mkdir -p $(BUILD_DIR)/etc/kernel/postinst.d
	$(MAKE) O=$(BUILD_DIR) novena_config
	$(MAKE) O=$(BUILD_DIR) -j4
	chmod 0644 $(BUILD_DIR)/u-boot.img
	install -m 644 $(BUILD_DIR)/SPL $(BUILD_DIR)/u-boot.spl
	install -m 755 $(BUILD_DIR)/../novena-kernel-install-postinst \
				   $(BUILD_DIR)/zz-novena-kernel-install

override_dh_clean:
	rm -rf $(BUILD_DIR)
	dh_clean

# Skip
override_dh_auto_test:
override_dh_auto_install:
